<!-- Intro -->
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>About</h2>
        <hr>
        <p class="lead">I aim for simplicity in many things in my life, yet my system is complicatedly wired. Deep down, I’m more than humble and genuine than you can ever imagine, but I’m very headstrong and I stand in my own way. I’m a girl whom I’ve trained myself to think/operate more manly. Ahem.. of course I mean, mentally. I’m a doer, a hustler.. and I tend to surprise people out of nowhere. I’m malleable, very... now and forever..</p>
        <p><%= link_to "Back", "/" %></p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->
