<!-- EDIT RESUME -->
<div id="lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1 desc">
        <h3>Edit Resume</h3><br>
        <%= render "form" %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- lg -->
