<!-- FULL RESUME -->
<div id="lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 desc">
        <h1>Work Experience</h1><br>

        <%= render @resumes %>

        <br />

        <p class="btn btn-default"><%= link_to 'New Resume', new_resume_path %></p>

      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- lg -->
