<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li><a href="http://www.linkedin.com/in/kangiechan" target="_blank"><i class="fa fa-linkedin fa-4x"></i></a></li>
          <li><a href="https://github.com/aries0420" target="_blank"><i class="fa fa-github-alt fa-4x"></i></a></li>
          <li><a href="https://www.facebook.com/kangiechan" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
          <li><a href="https://twitter.com/ikangiec" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
          <li><a href="https://plus.google.com/u/2/104563957091641780522" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a></li>
          <li><a href="http://www.weibo.com/275769955" target="_blank"><i class="fa fa-weibo fa-4x"></i></a></li>
        </ul>
        <div class="top-scroll">
          <a href="#top"><i class="fa fa-arrow-circle-up scroll fa-3x"></i></a>
        </div>
      <hr>
      <p>Copyright &copy; kangiechan.com 2013</p>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/jquery.js"></script>
<script src="/assets/bootstrap.js"></script>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>
