<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <div class="menu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/" class="fa fa-home"> home</a></li>
            <li><a href="/#voice" class="fa fa-comment-o"> voice</a></li>
            <li><a href="/#experience" class="fa fa-rocket"> experience</a></li>
            <li><a href="/#showcase" class="fa fa-briefcase"> showcase</a></li>
            <li><a href="/#about" class="fa fa-user"> about</a></li>
            <li><a href="/#contact" class="fa fa-envelope"> contact</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
